<p>view-consumption works!</p>

<div class="card col-12">
    <p-table [value]="selectedInvoice.vouchers" [scrollable]="true" selectionMode="single" dataKey="id" editMode="row" responsiveLayout="scroll" scrollHeight="200px">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
       
                    <div>Date: {{selectedInvoice.date}} </div>
                                  </span>
            </div>
        </ng-template>


        
    
                <ng-template pTemplate="header">
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>uom</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Modify</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-v let-i="rowIndex">
                    <tr>
                        <td>{{v.object.itemname}}</td>
                        <td>{{v.quantity}}</td>
                        <td>{{v.object.uom.uom}}</td>
                        <td>{{v.rateaftertaxes }}</td>
                        <td>{{v.quantity * v.rateaftertaxes }} </td>
                        <td>
                            <div>
                                <button pButton class="p-button-sm" (click)="handleEditVoucher(v)">Edit</button>
                            </div>

                            <!-- <div class="displayline">
                                <button pButton class="p-button-sm" (click)="handleEditVoucher(v)">EDIT</button>
                                <button pButton class="p-button-sm" (click)="handleDeleteVoucher(i)">DEL</button>
                            </div> -->
                            
                        </td>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="4" class="text-right">Total</td>
                        <td >{{viewTotal | number: '1.2-2'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    



        <!-- edit voucher  consumptions-->

        
 <p-dialog header="edit New Voucher" [(visible)]="displaySubEditModal"
 [style]="{width: '100%'}" [modal]="true"
 [draggable]="false" [resizable]="false" class="p-fluid">
 
<div class="namebox">
    
    
    
                  
                        <div>Item</div>
                        <p-autoComplete
                            [(ngModel)]="selectedItem"
                            [suggestions]="filteredItems" 
                            (completeMethod)="filterItems($event)"
                            field="itemname" 
                            [multiple]="false" class="autocomplete" 
                            (onSelect)="handleOnSelectItem($event)"
                            [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'100%'}" 
                            [placeholder]="placeholderItem" 
                            [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="itemChange($event)"
                            [required]="true" #selectItem="ngModel" 
                            [forceSelection]="true">
        
                            <ng-template let-selectedItem pTemplate="item">
                                <div>{{selectedItem.itemname}} - {{selectedItem.id}}</div>
                                <div>{{selectedItem.uom.uom}}</div>
                                <div><span style="font-size: 10px;">{{ selectedItem.level1 }} > {{ selectedItem.level2 }} > {{selectedItem.level3}}</span></div>
                            </ng-template>
        
                        </p-autoComplete>
                        <ng-template [ngIf]="selectItem.errors">
                            <small id="username2-help" class="p-error block">you must select an item</small>
                        </ng-template>
        
                    </div>
                    <br><br>
                    <!-- <div class="card flex justify-content-center gap-3"> -->
                        <div class="field mb-4 col-12 md:col-6">

                        <p-checkbox name="groupname" value="val1" label="Serial No" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="snoBoolChange($event)"></p-checkbox><br><br>
                        <p-checkbox name="groupname" value="val2" label="Batch No" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="bnoBoolChange($event)"></p-checkbox><br><br>
                        <p-checkbox name="groupname" value="val3" label="Expiry Date" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="edtBoolChange($event)"></p-checkbox><br><br>
                        <p-checkbox name="groupname" value="val4" label="Brand" [(ngModel)]="selectedValues" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="brandBoolChange($event)"></p-checkbox>

                    </div>

                    <div class="card stocktable">
                        <p-table [value]="selectedStockBalances" [scrollable]="true"  
                        selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                            
                            <ng-template pTemplate="header">
                                <!-- <tr>
                                    <th>Rate</th>
                                    <th>Expiry</th>
                                    <th>Quantity</th>
                                    <th>Input</th>
                                </tr> -->
                                <tr>
                                    <th *ngFor="let col of sbcols">
                                        {{ col.field }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sb let-i="rowIndex">
                                <!-- <tr>
                                    <td>{{sb.rate}}</td>
                                    <td>{{sb.expirydate}}</td>
                                    <td>{{sb.balance}}</td>
                                    <td>
                                        <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                    placeholder="enter quantity" 
                                    autocomplete="off" (input)="onSearchChange($event,i)" [value]="selectedStockBalances[i].inputqty">
                                        
                                    </td>
                                    
                                </tr> -->

                                <tr>
                                    <td *ngFor="let col of sbcols">
                                        <ng-container *ngIf="col.field === 'inputqty'; else notInputqty">
                                          <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                                 placeholder="enter quantity" 
                                                 autocomplete="off" (input)="onNewSearchChange($event,i,sb)"
                                                 [(ngModel)]="sb[col.field]" [ngModelOptions]="{standalone: true}">
                                        </ng-container>
                                        <ng-template #notInputqty>
                                          {{ sb[col.field] }}  
                                        </ng-template>
                                      </td>
                                </tr>

                            </ng-template>
                        </p-table>

                        <ng-template [ngIf]="inStockBalanceProgress">
                            <div class="stocktableprogress" id="modal">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </ng-template>
                        
                    </div>



                    <div class="card stocktable">
                        <p-table [value]="selectedStockLocationBalance" [scrollable]="true"  
                        selectionMode="single" scrollHeight="200px" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
                            
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Location</th>
                                    <th>Avail Qty</th>
                                    <th>Input</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sb let-i="rowIndex">
                                <tr>
                                    <td>{{sb.location}}</td>
                                    <td>{{sb.quantity}}</td>
                                    <td>
                                        <input type="number" min="0" pInputText class="p-inputtext-sm" 
                                    placeholder="enter quantity" 
                                    autocomplete="off" (input)="onSearchSLBChange($event,i)" [value]="selectedStockLocationBalance[i].inputqty">
                                        
                                    </td>
                                    
                                </tr>
                            </ng-template>
                        </p-table>

                        <ng-template [ngIf]="inStockBalanceProgress">
                            <div class="stocktableprogress" id="modal">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </ng-template>
                        
                    </div>



                    <div class="displayline">
                        <div>
                            <div>quantity</div>
                            
                        <div>{{this.selectedQty}}</div>
                        
        
                        </div>

                        <div>{{selectedUOM}}</div>

                        <div>
                            <div>Account Map</div>
                            <p-autoComplete
                                [(ngModel)]="selectedAccountMap"
                                [suggestions]="filteredAccountMaps" 
                                (completeMethod)="filterAccountMaps($event)"
                                field="accounthead" 
                                [multiple]="false" class="autocomplete" 
                                (onSelect)="handleOnSelectAccountMap($event)"
                                [style]="{'width':'100%'}"
                                [inputStyle]="{'width':'100%'}" 
                                [placeholder]="placeholderAccountMap" 
                                [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="accountMapChange($event)"
                                [required]="true" #selectAccountMap="ngModel" 
                                [forceSelection]="true">
                                <ng-template let-selectedAccountMap pTemplate="item">
                                    <div>{{selectedAccountMap.accounthead}} - {{selectedAccountMap.id}}</div>
                                </ng-template>
                
                            </p-autoComplete>
                            <ng-template [ngIf]="selectAccountMap.errors">
                                <small id="username2-help" class="p-error block">you must select an account map</small>
                            </ng-template>
                
                        </div>
                        
        
                    


              

                
                    
                

                
                
            </div>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="handleUpdateVoucher()" label="Ok" styleClass="p-button-text"></p-button>
            </ng-template>
     <!-- end consumptions -->
 </p-dialog>
 