<p>consumption works!</p>
<div class="card">
    <p-table #dt [value]="sanitizedInvoiceList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" [globalFilterFields]="[
            'maturitydate',
            'amount',
            'originalparty.accounthead',
            'status'
        ]">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search"
                        class="w-full" />
                </span>
                <button (click)="navigateToconsuptions()" pButton class="p-button-raised p-button-primary"
                    icon="pi pi-plus" label="Add New"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="maturitydate" class="white-space-nowrap" style="width: 30%">
                    Date <p-sortIcon field="maturitydate"></p-sortIcon>
                </th>
                <th pSortableColumn="originalparty.accounthead" class="white-space-nowrap" style="width: 25%">
                    Consumption Value
                    <p-sortIcon field="originalparty.accounthead"></p-sortIcon>
                </th>
                 
                <th class="white-space-nowrap" style="width: 25%">Modify</th>
            </tr>
        </ng-template>
    <ng-template pTemplate="body" let-inv let-i="rowIndex">
        <tr>
            
            <td>{{inv.date}}</td>
            <td>{{inv.taxablevalue}}</td>
            <td>
                <div>
                    <button pButton class="p-button-sm" (click)="handleView(inv.invoice)">VIEW</button>
                </div>
            </td>

        </tr>
    </ng-template>
</p-table>
