
    <div>Date: {{selectedInvoice.date}} </div>
    <div>Vendor: {{ viewPartyName }}</div>
 
    <div class="card col-12">
        <p-table [value]="selectedInvoice.vouchers" [scrollable]="true" selectionMode="single" dataKey="id" editMode="row" responsiveLayout="scroll" scrollHeight="200px">
    
            <ng-template pTemplate="header">
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>uom</th>
                    <th>Rate</th>
                    <th>Amount</th>
                    <!-- <th>Modify</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-v let-i="rowIndex">
                <tr>
                    <td>{{v.object.itemname}}</td>
                    <td>{{v.quantity}}</td>
                    <td>{{v.object.uom.uom}}</td>
                    <td>{{v.rateaftertaxes}}</td>
                    <td>{{v.quantity * v.rateaftertaxes}}</td>
                    <!-- <td>
                        <div class="displayline">
                            <button pButton class="p-button-sm" (click)="handleEditVoucher(v)">EDIT</button>
                            <button pButton class="p-button-sm" (click)="handleDeleteVoucher(i)">DEL</button>
                        </div>
                        
                    </td> -->
                    
                </tr>
            </ng-template> 
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="4" class="text-right">Total</td>
                    <td >{{viewTotal}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

   