
<div class="card">
    <p-table #dt [value]="people" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['id','accounthead','endpoint','content.pc']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
                <button (click)="navigateToCreateContacts()" pButton class="p-button-raised p-button-primary" icon="pi pi-plus" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="white-space-nowrap">Id<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="accounthead" class="white-space-nowrap">Name<p-sortIcon field="accounthead"></p-sortIcon></th>
                <th pSortableColumn="endpoint" class="white-space-nowrap">Contact <p-sortIcon field="endpoint"></p-sortIcon></th>
                <th pSortableColumn="content.pc" class="white-space-nowrap">Type <p-sortIcon field="content.pc"></p-sortIcon></th>
                <th class="white-space-nowrap">Modify </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person let-i="rowIndex">
            <tr>
                <td>{{person.id}}</td>
                <td>{{person.accounthead}}</td>
                <td>{{person.endpoint}}</td>
                <td>{{person.content.pc}}</td>
                <td>

                    <div class="grid">
                        <div class="col-12">
                            <button  pButton icon="pi pi-pencil" class="p-button-sm p-button-raised p-button-primary" (click)="handleEdit(person)" label="Edit"></button>
                        </div>
                        </div>
                    
                </td>
                
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- 
<div class="flex justify-content-center mb-2">
    <p-toggleButton [(ngModel)]="showForm" onLabel="Cancel" offLabel="New" (onChange)="handleNew($event)"></p-toggleButton>
</div>



<p-toast key="tst"></p-toast>
<div class="grid" *ngIf="showForm">
    <div class="col-12">
        <div class="card">
            
            <div class="p-fluid p-formgrid grid">
                
                <div class="field col-4 md:col-4">
                    <p-radioButton name="pc" value="person" [(ngModel)]="person.pc" id="personradio" label="Person" (ngModelChange)="pcchange($event)" inputId="pc1"></p-radioButton>
                </div>
                <div class="field col-4 md:col-4">
                    <p-radioButton name="pc" value="company" [(ngModel)]="person.pc" id="companyradio" label="Company" (ngModelChange)="pcchange($event)" inputId="pc2"></p-radioButton>
                </div>
                
                <ng-container *ngFor="let name of person.names; let i = index">
                    <div *ngIf="isperson; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <app-personal-name class="col-12" [personalName]="name" (deleteEvent)="handleDeleteOfName($event,i)" ></app-personal-name>
                    </ng-template>
                    <ng-template #elseBlock>
                        <app-company-name class="col-12" [companyName]="name" (deleteEvent)="handleDeleteOfName($event,i)"  ></app-company-name>
                    </ng-template>
                </ng-container>
                
                
                <div class="col-12">
                    <button pButton pRipple class="p-button-sm w-max" (click)="handleAddName()">Add Name</button>                    
                </div>



                <ng-container *ngFor="let telephone of telephones; let i = index">
                    <app-telephone class="col-12" [endpoint]="telephone" [mode]="''" (deleteEvent)="handleDeleteOfTelephone($event,i)"></app-telephone>
                </ng-container>

                <div class="col-12">
                    <button id="lbtnt" (click)="handleAddTelephone()" pButton class="p-button-sm w-max">Add Telephone</button>
                </div>

                
                <ng-container *ngFor="let emailid of emailids; let i = index">
                    <app-email-id class="col-12" [endpoint]="emailid" (deleteEvent)="handleDeleteOfEmail($event,i)"></app-email-id>    
                </ng-container>
    
                <div class="col-12">
                    <button id="lbtne" (click)="handleAddEmailID()" pButton class="p-button-sm w-max">Add EmailID</button>
                </div> 

                
                <ng-container *ngFor="let address of postalAddresses; let i = index">
                    <app-postal-address class="col-12" [endpoint]="address" [mode]="''" (deleteEvent)="handleDeleteOfPostalAddress($event,i)"></app-postal-address>
                </ng-container>
                
                <div class="col-12">
                    <button id="lbtna" (click)="handleAddAddress()" pButton class="p-button-sm w-max">Add Address</button>
                </div>

                <ng-container *ngFor="let govtid of person.govtids; let i = index">
                    <app-govt-id class="col-12" [govtid]="govtid" (deleteEvent)="handleDeleteOfGovtID($event,i)"></app-govt-id>
                </ng-container>

                <div class="col-12">
                    <button id="lbtng" (click)="handleAddGovtID()" pButton class="p-button-sm w-max">Add GovtID</button>
                </div>

                <div class="col-12 w-full flex flex-column gap-1">
                    <p-dropdown [options]="accountTypes" [(ngModel)]="person.accounttype" optionLabel="type" optionValue="type" (ngModelChange)="accountTypeChange($event)" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    <input id="extpassword" type="password" pInputText class="p-inputtext-sm" [(ngModel)]="person.extpwd" [ngModelOptions]="{standalone: true}" placeholder="enter external password" />
                    <input id="intpassword" type="password" pInputText class="p-inputtext-sm" [(ngModel)]="person.intpwd" [ngModelOptions]="{standalone: true}" placeholder="enter internal password" />
                </div>                


                <div class="col-12 mt-4 flex justify-content-end">
                    <button pButton pRipple class="p-button-sm w-max" (click)="atleast()">{{ buttonText }}</button>                    
                </div>

            </div>
        </div>
    </div>
</div>  -->

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ng-template [ngIf]="inProgress">
    <div class="overlay" id="modal">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>

