<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-toast key="tst"></p-toast>
            <p-table [value]="people" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" 
    selectionMode="single" scrollHeight="500px" 
         dataKey="person" selectionMode="single" [paginator]="true" responsiveLayout="scroll">
        
        <ng-template pTemplate="header"> 
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Type</th>
                <th>Modify</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person let-i="rowIndex">
            <tr>
                
                <td>{{person.id}}</td>
                <td>{{person.accounthead}}</td>
                <td>{{person.endpoint}}</td>
                <td>{{person.content.pc}}</td>
                
                <td>
                    
                    <div>
                        <button pButton class="p-button-sm" (click)="handleEdit(person)">EDIT</button>
                    </div>
                </td>

            </tr>
        </ng-template>


        <!-- <ng-template [ngIf]="inProgress">
            <div class="flex justify-content-center align-items-center absolute z-5 h-full w-full top-0 left-0" id="modal">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-template> -->

    </p-table>

            
        </div>
    </div>
</div>



<div class="flex justify-content-center mb-2">
    <p-toggleButton [(ngModel)]="showForm" onLabel="Cancel" offLabel="New" (onChange)="handleNew($event)"></p-toggleButton>
</div>



<p-toast key="tst"></p-toast>
<div class="grid" *ngIf="showForm">
    <div class="col-12">
        <div class="card">
            
            <div class="p-fluid p-formgrid grid">
                
                <div class="field col-4 md:col-4">
                    <p-radioButton name="pc" value="person" [(ngModel)]="person.pc" id="personradio" label="Person" (ngModelChange)="pcchange($event)" inputId="pc1"></p-radioButton>
                </div>
                <div class="field col-4 md:col-4">
                    <p-radioButton name="pc" value="company" [(ngModel)]="person.pc" id="companyradio" label="Company" (ngModelChange)="pcchange($event)" inputId="pc2"></p-radioButton>
                </div>
                
                <ng-container *ngFor="let name of person.names; let i = index">
                    <div *ngIf="isperson; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <app-personal-name class="col-12" [personalName]="name" (deleteEvent)="handleDeleteOfName($event,i)" ></app-personal-name>
                    </ng-template>
                    <ng-template #elseBlock>
                        <app-company-name class="col-12" [companyName]="name" (deleteEvent)="handleDeleteOfName($event,i)"  ></app-company-name>
                    </ng-template>
                </ng-container>
                
                
                <div class="col-12">
                    <button pButton pRipple class="p-button-sm w-max" (click)="handleAddName()">Add Name</button>                    
                </div>



                <ng-container *ngFor="let telephone of telephones; let i = index">
                    <app-telephone class="col-12" [endpoint]="telephone" [mode]="''" (deleteEvent)="handleDeleteOfTelephone($event,i)"></app-telephone>
                </ng-container>

                <div class="col-12">
                    <button id="lbtnt" (click)="handleAddTelephone()" pButton class="p-button-sm w-max">Add Telephone</button>
                </div>

                
                <ng-container *ngFor="let emailid of emailids; let i = index">
                    <app-email-id class="col-12" [endpoint]="emailid" (deleteEvent)="handleDeleteOfEmail($event,i)"></app-email-id>    
                </ng-container>
    
                <div class="col-12">
                    <button id="lbtne" (click)="handleAddEmailID()" pButton class="p-button-sm w-max">Add EmailID</button>
                </div> 

                
                <ng-container *ngFor="let address of postalAddresses; let i = index">
                    <app-postal-address class="col-12" [endpoint]="address" [mode]="''" (deleteEvent)="handleDeleteOfPostalAddress($event,i)"></app-postal-address>
                </ng-container>
                
                <div class="col-12">
                    <button id="lbtna" (click)="handleAddAddress()" pButton class="p-button-sm w-max">Add Address</button>
                </div>

                <ng-container *ngFor="let govtid of person.govtids; let i = index">
                    <app-govt-id class="col-12" [govtid]="govtid" (deleteEvent)="handleDeleteOfGovtID($event,i)"></app-govt-id>
                </ng-container>

                <div class="col-12">
                    <button id="lbtng" (click)="handleAddGovtID()" pButton class="p-button-sm w-max">Add GovtID</button>
                </div>

                <div class="col-12 w-full flex flex-column gap-1">
                    <p-dropdown [options]="accountTypes" [(ngModel)]="person.accounttype" optionLabel="type" optionValue="type" (ngModelChange)="accountTypeChange($event)" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    <input id="extpassword" type="password" pInputText class="p-inputtext-sm" [(ngModel)]="person.extpwd" [ngModelOptions]="{standalone: true}" placeholder="enter external password" />
                    <input id="intpassword" type="password" pInputText class="p-inputtext-sm" [(ngModel)]="person.intpwd" [ngModelOptions]="{standalone: true}" placeholder="enter internal password" />
                </div>                


                <div class="col-12 mt-4 flex justify-content-end">
                    <button pButton pRipple class="p-button-sm w-max" (click)="atleast()">{{ buttonText }}</button>                    
                </div>

            </div>
        </div>
    </div>
</div> 
