<div class="card">
    <p-table #dt [value]="sanitizedPabList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['account.id','account.accounthead','debit','credit']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
                </div>
                <div class="ui-g-12" style="text-align:right">
                <button (click)="navigateToCreatePayments()" pButton class=" mr-2 p-button-raised p-button-primary" icon="pi pi-plus" label="New Payment"></button>
                <button (click)="navigateToPaymentsReg()" pButton class=" mr-2 p-button-raised p-button-primary" icon="pi pi-plus" label="Payment Register"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                
                <th pSortableColumn="account.id" class="white-space-nowrap">Id<p-sortIcon field="account.id"></p-sortIcon></th>
                <th pSortableColumn="account.accounthead" class="white-space-nowrap">Party<p-sortIcon field="account.accounthead"></p-sortIcon></th>
                <th style="text-align: center;" pSortableColumn="debit" class="white-space-nowrap">Receivable<p-sortIcon field="debit"></p-sortIcon></th>
                <th style="text-align: center;" pSortableColumn="credit" class="white-space-nowrap">Payable<p-sortIcon field="credit"></p-sortIcon></th>
          
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inv let-i="rowIndex">
            <tr>
                
                <td>{{inv.account.id}}</td>
                <td>{{inv.account.accounthead}}</td>
                <td style="text-align: right;">{{inv.debit | number : "1.2-2"}}</td>
                <td style="text-align: right;">{{inv.credit | number : "1.2-2"}}</td>
            </tr>
        </ng-template>
    </p-table>
   
    