
<div class="card">

    <p-table #dt [value]="openingBalances" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
    [globalFilterFields]="['accounthead','debit','credit']">
   
        
        <ng-template pTemplate="caption">
            <!-- <div class="flex flex-wrap gap-2 align-items-right justify-content-between">
               
               
            </div> -->

            <div class="table-header">
                <!-- Final Accounts as on {{today | date:'fullDate'}}    -->
                Opening Balances

            </div>
        

            <div>
                <div>
                    <div>As On</div>
                    <p-calendar 
                    [(ngModel)]="selectedAsOnDate"
                    [ngModelOptions]="{standalone: true}" 
                    [showTime]="true" [showSeconds]="true" 
                    inputId="asondate" 
                    appendTo="body" (onSelect)="asOnDateSelected($event)" 
                    [required]="true">
                    </p-calendar>
                    
                </div>
            </div>    
            <br>
          
            <div class="6">
                <span class="p-input-icon-left w-full sm:w-15rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
            </div>
        
            
        </ng-template> 

        <ng-template pTemplate="header"> 
            <tr>               
              
                <th pSortableColumn="accounthead" class="white-space-nowrap" style="width:25%">Account <p-sortIcon field="account"></p-sortIcon></th>               
                <th pSortableColumn="debit" class="white-space-nowrap" style="width:25%">Debit <p-sortIcon field="debit"></p-sortIcon></th>               
                <th pSortableColumn="credit" class="white-space-nowrap" style="width:25%">Credit <p-sortIcon field="credit"></p-sortIcon></th>
                <th>Actions</th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inv let-i="rowIndex">
            <tr>
                
                <td>{{inv.accounthead}}</td>
                <td>{{inv.debit }}</td>
                <td>{{inv.credit}}</td>
                <td>
                    <div>
                      

                        <button  pButton icon="pi pi-pencil" class="p-button-sm p-button-info p-button-raised" (click)="handleEdit(inv)" label="Edit"></button>
                    </div>
                </td>
            
            </tr>
        </ng-template>
    </p-table>

    
    </div>

   