<div class="card">

    <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
            <span class="text-900 text-xl font-bold mb-4 block">journalvouchercreate</span>
        </span>
    </div>
    <div class="grid">

        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-6">
                    <label for="date" class="font-medium text-900">Date</label>

                    <!--  -->

                    <p-calendar [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}" [showTime]="true"
                        [showSeconds]="true" inputId="time" appendTo="body" (onSelect)="dateSelected($event)"
                        [required]="true">
                    </p-calendar>

                </div>
                </div>
                </div>
                </div>





                <!-- <div class="journal">
            
                        <div></div> -->

                <!-- <div class="field mb-4 col-12 md:col-6">
                    <label for="itemname" class="font-medium text-900">DEBIT</label> -->

                <!-- <div>DEBIT</div> -->
    <div class="grid">

        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-6">
                    <label for="debit" class="font-medium text-900">DEBIT</label>

                    <!-- <div>CREDIT</div> -->
                    <div class="debitaccount">
                        <p-autoComplete [(ngModel)]="selectedDebitAccount" [suggestions]="filteredDebitAccounts"
                            (completeMethod)="filterDebits($event)" field="accounthead" [multiple]="false"
                            class="autocomplete" (onSelect)="handleOnSelectDebitAccount($event)"
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                            [placeholder]="placeholderDebitAccount" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="debitAccountChange($event)" [required]="true" #selectParty="ngModel"
                            [forceSelection]="true">

                            <ng-template let-selectedParty pTemplate="item">
                                <div>{{selectedParty.accounthead}} - {{selectedParty.id}}</div>
                                <div>{{selectedParty.endpoint}}</div>
                            </ng-template>

                        </p-autoComplete>
                    </div>
                    <div class="debitamount1">
                        <input type="number" min="0" #selectDebitAmt="ngModel" pInputText class="p-inputtext-sm"
                            placeholder="enter debit" [(ngModel)]="selectedDebitAmount"
                            [ngModelOptions]="{standalone: true}" autocomplete="off"
                            (ngModelChange)="debitAmountChange($event)" required>
                    </div>
                </div>
                <!--  -->
                <div class="field mb-4 col-12 md:col-6">
                    <label for="itemname" class="font-medium text-900">CREDIT</label>

                    <div class="debitamount2"></div>
                    <div class="creditaccount">
                        <p-autoComplete [(ngModel)]="selectedCreditAccount" [suggestions]="filteredCreditAccounts"
                            (completeMethod)="filterCredits($event)" field="accounthead" [multiple]="false"
                            class="autocomplete" (onSelect)="handleOnSelectCreditAccount($event)"
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                            [placeholder]="placeholderCreditAccount" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="creditAccountChange($event)" [required]="true" #selectParty="ngModel"
                            [forceSelection]="true">

                            <ng-template let-selectedParty pTemplate="item">
                                <div>{{selectedParty.accounthead}} - {{selectedParty.id}}</div>
                                <div>{{selectedParty.endpoint}}</div>
                            </ng-template>

                        </p-autoComplete>
                    </div>
                    <div class="creditamount1"></div>
                    <div class="creditamount2">
                        <input type="number" min="0" #selectCreditAmt="ngModel" pInputText class="p-inputtext-sm"
                            placeholder="enter credit" [(ngModel)]="selectedCreditAmount"
                            [ngModelOptions]="{standalone: true}" autocomplete="off"
                            (ngModelChange)="creditAmountChange($event)" required>
                    </div>

                </div>

                <div class="field mb-4 col-12 md:col-6">
                    <label for="itemname" class="font-medium text-900"></label>
                    <textarea class="p-inputtextarea"  [(ngModel)]="selectedNarration" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="narrationChange($event)"></textarea>
                </div>

            </div>
        </div>
    </div>
    <div class="ui-g-12" style="text-align: right">
        <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
        <button style="margin-left: 10px" pButton class="w-auto mt-3" icon="pi pi-check"
            (click)="handleSaveJournalVoucher()" label="save"></button>
        <button style="margin-left: 10px" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times"
            (click)="navigateToListjournalvoucher()" label="Cancel"></button>
    </div>

    <p-toast></p-toast>


</div>