
<div class="card">

    <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
        <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
            <span class="text-900 text-xl font-bold mb-4 block">Create Item</span>
                </span>
                <!-- <button style="margin-left: 10px;" (click)="navigateToListItems()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-fw pi-align-left" label="List"></button> -->
            </div>
            
         
    
    
<div class="grid">

        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-6">
                    <label for="itemname" class="font-medium text-900">Item Name</label>
                    <!-- <input id="nickname" type="text" pInputText>
                </div> -->

                <input type="text" 
                #itemTitle="ngModel" 
                pInputText 
                class="p-inputtext-sm" 
                placeholder="Enter Item Name" 
                [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="item.itemname" 
                 autocomplete="off" 
                 minlength="3" 
                 required 
                 (ngModelChange)="inputChange($event)" 
                 >
                <ng-template [ngIf]="itemTitle.errors"> 
                    <small id="username2-help" class="p-error block">Item name is required and must be atleast 3 letters</small>
                </ng-template>

            </div>

            <div class="field mb-4 col-12 md:col-6">
                <label for="itemname" class="font-medium text-900">Item Type For Report</label>
             
                <p-dropdown [options]="itemtypes" 
                [(ngModel)]="item.itemfatype" 
                optionLabel="type" 
                optionValue="type" 
                (ngModelChange)="itemFATypeChange($event)"
                [required]="true" #selectItemFAType="ngModel" 
                [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                    <ng-template [ngIf]="selectItemFAType.errors">
                        <small id="username2-help" class="p-error block">You must select item type for reports</small>
                    </ng-template>
    
        </div>

            <div class="field mb-4 col-12 md:col-6">
                <label for="itemname" class="font-medium text-900">UOM</label>

                <p-autoComplete
                [(ngModel)]="selectedUOM"
                [suggestions]="filteredUOMs" 
                (completeMethod)="filterUOMs($event)"
                field="uom" 
                [multiple]="false" class="autocomplete" 
                (onSelect)="handleOnSelect($event)"
                placeholder="Select UOM" 
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="UOMChange($event)"
                [required]="true" #selectUOM="ngModel" 
                [forceSelection]="true" >
            </p-autoComplete>
            <ng-template [ngIf]="selectUOM.errors">
                <small id="username2-help" class="p-error block">You must select a unit of measurement</small>
            </ng-template>

        </div>
        <!-- <div class="col-12">
        <button pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1 p-button-raised p-button-sm" icon="pi pi-angle-double-down" (click)="toggleFields()">More</button>
    </div> -->

        

        <div class="field mb-4 col-12 md:col-6">
            <label for="itemname" class="font-medium text-900">Level 1</label>
  
            <p-dropdown [options]="level1" 
            [(ngModel)]="item.level1" 
            optionLabel="levelname" 
            optionValue="levelname" 
            (ngModelChange)="itemLevelOneTypeChange($event)" 
            [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="levelname">
                </p-dropdown>


    </div>

    <div class="field mb-4 col-12 md:col-6">
        <label for="itemname" class="font-medium text-900">Level 2</label>

        <p-dropdown [options]="level2" 
        [(ngModel)]="item.level2" 
        optionLabel="levelname" 
        optionValue="levelname" 
        (ngModelChange)="itemLevelTwoTypeChange($event)" 
        [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="levelname">
            </p-dropdown>

</div>

    <div class="field mb-4 col-12 md:col-6">
        <label for="itemname" class="font-medium text-900">Level 3</label>

        <p-dropdown [options]="level3" 
        [(ngModel)]="item.level3" 
        optionLabel="levelname" 
        optionValue="levelname" 
        (ngModelChange)="itemLevelThreeTypeChange($event)" 
        [ngModelOptions]="{standalone: true}" [filter]="true" filterBy="levelname">
            </p-dropdown>

</div>
   
        <!-- <div class="field mb-4 col-12">
            <label for="itemname" class="font-medium text-900">Item Grouping</label>
            <div class="newpcradiogroup">
            <div>Level 1</div>
            <p-dropdown [options]="level1" 
        [(ngModel)]="item.level1" 
        optionLabel="levelname" 
        optionValue="levelname" 
        (ngModelChange)="itemLevelOneTypeChange($event)" 
        [ngModelOptions]="{standalone: true}" [style]="{'width':'460px'}" [filter]="true" filterBy="levelname">
            </p-dropdown>
        </div>
        <div class="newpcradiogroup">
            <div>Level 2</div>
            <p-dropdown [options]="level2" 
        [(ngModel)]="item.level2" 
        optionLabel="levelname" 
        optionValue="levelname" 
        (ngModelChange)="itemLevelTwoTypeChange($event)" 
        [ngModelOptions]="{standalone: true}" [style]="{'width':'460px'}" [filter]="true" filterBy="levelname">
            </p-dropdown>
        </div>
        <div class="newpcradiogroup">
            <div>Level 3</div>
            <p-dropdown [options]="level3" 
        [(ngModel)]="item.level3" 
        optionLabel="levelname" 
        optionValue="levelname" 
        (ngModelChange)="itemLevelThreeTypeChange($event)" 
        [ngModelOptions]="{standalone: true}" [style]="{'width':'460px'}" [filter]="true" filterBy="levelname">
            </p-dropdown>
        </div>
    </div> -->


        <div class="field mb-4 col-12 md:col-6">
            <label for="itemname" class="font-medium text-900">Item Code</label>
            
            <input type="text" 
            #userCode="ngModel" 
            pInputText 
            class="p-inputtext-sm" 
            placeholder="Enter Code" 
            [ngModelOptions]="{standalone: true}"
             [(ngModel)]="item.usercode" 
             autocomplete="off" 
             minlength="3">
    </div>

   

    <div class="field mb-4 col-12 md:col-6">
        <label for="itemname" class="font-medium text-900">Reorder Quantity</label>
      
        <input type="text"
        type="number" min="0" 
        #reorderQuantity="ngModel" 
        pInputText 
        class="p-inputtext-sm" 
        placeholder="Enter Reorder Quantity" 
        [ngModelOptions]="{standalone: true}"
         [(ngModel)]="item.reorderquantity" 
         autocomplete="off">

  </div>

   <!-- Start Tax............ -->

 <div class="mr-2"> <p-button styleClass="p-button-sm p-button-info p-button-raised" (click)="showNewTaxDialog()" icon="pi pi-external-link" label="New Tax"></p-button></div>
  <br>
  <br>
 <div class="card col-12" *ngIf="showFields">
      <p-table [value]="selectedTaxes" [scrollable]="true"  
      (onRowSelect)="onRowSelect($event)" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm" scrollHeight="200px">
          <!--[style]="{'width':'320px'}"-->
          <ng-template pTemplate="header">
              <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Percent</th>
                  <th>Type</th>
                  <th>Authority</th>
                  <th>Modify</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tax let-i="rowIndex">
              <tr>
                  
                  <td>{{tax.taxname}}</td>
                  <td>{{tax.taxcode}}</td>
                  <td>{{tax.taxpercent}}</td>
                  <td>{{tax.taxtype}}</td>
                  <td>{{tax.taxauthority.accounthead}}</td>
                  <div>
                      <button pButton class="p-button-sm" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="handleTaxEdit(tax)"></button>
                      <button pButton class="p-button-sm" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="handleTaxDelete(i)"></button>
                  </div>
                  
              </tr>
              <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span >Are you sure you want to delete <b></b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" class="w-auto mt-3" label="Yes" (click)="confirmDelete(i)"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" class="w-auto mt-3 p-button-danger" label="No" (click)="deleteProductDialog = false"></button>
                </ng-template>
            </p-dialog>
          </ng-template>
      </p-table>
  </div>


  <!-- <p-dialog header="New Tax" [(visible)]="displayTaxModal" [modal]="true" [style]="{width: '40vw',height:'40vw'}"
  [draggable]="false" [resizable]="false"> -->
          
  <p-dialog [(visible)]="displayTaxModal" [style]="{width: '450px'}" header="New Tax" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
      
          <div>
              <div>Tax Name</div>
          <input type="text" #selectTaxname="ngModel" pInputText class="p-inputtext-sm fn" placeholder="Tax Name" [(ngModel)]="selectedTaxname" [ngModelOptions]="{standalone: true}"  autocomplete="off" required >
          <ng-template [ngIf]="selectTaxname.errors">
              <small id="username2-help" class="p-error block">You must enter a tax name. eg CGST or Sales Tax etc</small>
          </ng-template>
          </div>
          


          <div>
              <div>Tax Authority</div>
              <p-autoComplete
                  [(ngModel)]="selectedTaxParty"
                  [suggestions]="filteredParties" 
                  (completeMethod)="filterParties($event)"
                  field="accounthead" 
                  [multiple]="false" class="autocomplete" 
                  (onSelect)="handleOnSelectTaxParty($event)"
                  [style]="{'width':'100%'}"
                  [inputStyle]="{'width':'100%'}" 
                  placeholder="Select Tax Authority" 
                  [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="partyChange($event)"
                  [required]="true" #selectTaxParty="ngModel" 
                  [forceSelection]="true">
  
                  <ng-template let-selectedTaxParty pTemplate="item">
                      <div>{{selectedTaxParty.accounthead}} - {{selectedTaxParty.id}}</div>
                      <div>{{selectedTaxParty.endpoint}}</div>
                  </ng-template>
  
              </p-autoComplete>
              <ng-template [ngIf]="selectTaxParty.errors">
                  <small id="username2-help" class="p-error block">You must select a party</small>
              </ng-template>
  
          </div>

          <div>
            <div>Tax Type</div>
        <p-dropdown #selectTaxType="ngModel" [options]="taxTypes" [(ngModel)]="selectedTaxtype" optionLabel="type" optionValue="type" [ngModelOptions]="{standalone: true}" [required]="true"></p-dropdown>
        <ng-template [ngIf]="selectTaxType.errors">
            <small id="username2-help" class="p-error block">You must select a tax type</small>
        </ng-template>
  
        </div>
     
      <div>
          <div>Tax Code</div>
          <input type="text" #selectTaxcode="ngModel" pInputText class="p-inputtext-sm" placeholder="Tax Code" [(ngModel)]="selectedTaxcode" [ngModelOptions]="{standalone: true}"  autocomplete="off">
      </div>
      <div>
          <div>Tax Percent</div>
          <input type="number" #selectTaxpercent="ngModel" pInputText class="p-inputtext-sm" placeholder="Tax Percent" [(ngModel)]="selectedTaxpercent" [ngModelOptions]="{standalone: true}"  autocomplete="off" required>
          <ng-template [ngIf]="selectTaxpercent.errors">
              <small id="username2-help" class="p-error block">You must enter a tax percent</small>
          </ng-template>
      </div>

      
    </ng-template>
 
      
          <ng-template pTemplate="footer">
              <p-button icon="pi pi-check" (click)="handleAddTax()" label="Save" styleClass="p-button-text"></p-button>
          </ng-template>
      </p-dialog>


      <!-- <p-dialog header="Edit Tax" [(visible)]="displayTaxEditModal" [modal]="true" [style]="{width: '50vw',height:'40vw'}"
      [draggable]="false" [resizable]="false">
              
              <form #taxForm="ngForm" autocomplete="off" novalidate class="box">
                  <div class="modifytax"> -->
    <p-dialog [(visible)]="displayTaxEditModal" [style]="{width: '450px'}" header="Edit Tax" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">            
                      <div>
                          <div>Tax Name</div>
                      <input type="text" #selectTaxname="ngModel" pInputText class="p-inputtext-sm fn" placeholder="Tax Name" [(ngModel)]="selectedTaxname" [ngModelOptions]="{standalone: true}"  autocomplete="off" required >
                      <ng-template [ngIf]="selectTaxname.errors">
                          <small id="username2-help" class="p-error block">You must enter a tax name. eg CGST or Sales Tax etc</small>
                      </ng-template>
                      </div>
                      


                      <div>
                          <div>Tax Authority</div>
                          <p-autoComplete
                              [(ngModel)]="selectedTaxParty"
                              [suggestions]="filteredParties" 
                              (completeMethod)="filterParties($event)"
                              field="accounthead" 
                              [multiple]="false" class="autocomplete" 
                              (onSelect)="handleOnSelectTaxParty($event)"
                              [style]="{'width':'100%'}"
                              [inputStyle]="{'width':'100%'}" 
                              placeholder="Select Tax Authority" 
                              [ngModelOptions]="{standalone: true}"
                              (ngModelChange)="partyChange($event)"
                              [required]="true" #selectTaxParty="ngModel" 
                              [forceSelection]="true">
              
                              <ng-template let-selectedTaxParty pTemplate="item">
                                  <div>{{selectedTaxParty.accounthead}} - {{selectedTaxParty.id}}</div>
                                  <div>{{selectedTaxParty.endpoint}}</div>
                              </ng-template>
              
                          </p-autoComplete>
                          <ng-template [ngIf]="selectTaxParty.errors">
                              <small id="username2-help" class="p-error block">You must select a party</small>
                          </ng-template>
              
                      </div>

                  <div>
                      <div>Tax Code</div>
                      <input type="text" #selectTaxcode="ngModel" pInputText class="p-inputtext-sm" placeholder="Tax code" [(ngModel)]="selectedTaxcode" [ngModelOptions]="{standalone: true}"  autocomplete="off">
                  </div>
                  <div>
                      <div>Tax Percent</div>
                      <input type="number" #selectTaxpercent="ngModel" pInputText class="p-inputtext-sm" placeholder="tax percent" [(ngModel)]="selectedTaxpercent" [ngModelOptions]="{standalone: true}"  autocomplete="off" required>
                      <ng-template [ngIf]="selectTaxpercent.errors">
                          <small id="username2-help" class="p-error block">You must enter a tax percent</small>
                      </ng-template>
                  </div>
                  <div>
                      <div>Tax Type</div>
                  <p-dropdown #selectTaxType="ngModel" [options]="taxTypes" [(ngModel)]="selectedTaxtype" optionLabel="type" optionValue="type" [ngModelOptions]="{standalone: true}" [required]="true"></p-dropdown>
                  <ng-template [ngIf]="selectTaxType.errors">
                      <small id="username2-help" class="p-error block">You must select a tax type</small>
                  </ng-template>

                  </div>
                  

                </ng-template>     
              
              <ng-template pTemplate="footer">
                  <p-button icon="pi pi-check" (click)="handleUpdateTax()" label="Ok" styleClass="p-button-text"></p-button>
              </ng-template>
          </p-dialog>

    <!-- End Tax............ -->

    <!-- Start Recorder Contact......... -->

    <div class="mr-2"><p-button styleClass="p-button-sm p-button-info p-button-raised" (click)="addReorderContact()" icon="pi pi-external-link" label="New Reorder Contact"></p-button></div>
    <br>
    <br>
    <div class="card col-12" *ngIf="showFieldsContact">
        <p-table [value]="selectedReorderContacts" [scrollable]="true" selectionMode="single" dataKey="id" editMode="row" responsiveLayout="scroll" scrollHeight="200px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Contact</th>
                    <th>Phone Or Email</th>
                    <th>Contact Name</th>
                    <th>Type</th>
                    <th style="width:8rem"></th> 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.contact" [ngModelOptions]="{standalone: true}">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.contact}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor> 
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="pes" appendTo="body" [(ngModel)]="product.phoneoremail" [style]="{'width':'100%'}"
                                 [ngModelOptions]="{standalone: true}" optionLabel="value" optionValue="value"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.phoneoremail}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.contactname" [ngModelOptions]="{standalone: true}">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.contactname}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="ces" appendTo="body" [(ngModel)]="product.contacttype" [style]="{'width':'100%'}"
                                 [ngModelOptions]="{standalone: true}" optionLabel="value" optionValue="value"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.contacttype}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onRowEditInit(product, ri)"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-success mr-2" (click)="onRowEditSave(product,ri)"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onRowEditCancel(product, ri)"></button>
                    </td>
                </tr>
                <p-dialog [(visible)]="deleteContact" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span >Are you sure you want to delete <b></b>?</span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple icon="pi pi-check" class="p-button-text" class="w-auto mt-3" label="Yes" (click)="confirmDeleteContact(product, ri)"></button>
                        <button pButton pRipple icon="pi pi-times" class="p-button-text" class="w-auto mt-3 p-button-danger" label="No" (click)="deleteContact = false"></button>
                    </ng-template>
                </p-dialog>
            </ng-template>
        </p-table>
    </div>

    <!-- End Recorder Contact......... -->

   <!-- Start New Expression UOM -->

   <div class="mr-2"><p-button  styleClass="p-button-sm p-button-info p-button-raised" (click)="addExpressionUOM()" icon="pi pi-external-link" label="New Expression UOM"></p-button></div>
   <br>
   <br>
   <div class="card col-12" *ngIf="showFieldsUom">
       <p-table [value]="selectedExpressionUOMS" [scrollable]="true" selectionMode="single" dataKey="id" editMode="row" responsiveLayout="scroll" scrollHeight="200px"> 
           <ng-template pTemplate="header">
               <tr>
                   <th>Quantity</th>
                   <th>UOM</th>
                   <th style="width:8rem"></th> 
               </tr>
           </ng-template>
           <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
               <tr [pEditableRow]="product">
                   <td>
                       <p-cellEditor>
                           <ng-template pTemplate="input">
                               <input pInputText type="text" [(ngModel)]="product.quantity" [ngModelOptions]="{standalone: true}">
                           </ng-template>
                           <ng-template pTemplate="output">
                               {{product.quantity}}
                           </ng-template>
                       </p-cellEditor>
                   </td>
                   
                   <td>
                       <p-cellEditor>
                           <ng-template pTemplate="input">
                               <!-- <input pInputText type="text" [(ngModel)]="product.contactname" [ngModelOptions]="{standalone: true}"> -->
                               <div>
                                   <p-autoComplete
                                       [(ngModel)]="product.uom"
                                       [suggestions]="filteredExpressionUOMs" 
                                       (completeMethod)="filterExpressionUOMs($event)"
                                       field="uom" 
                                       [multiple]="false" class="autocomplete" 
                                       (onSelect)="handleOnSelectExpressionUOM($event)"
                                       [style]="{'width':'100%'}"
                                       [inputStyle]="{'width':'100%'}" 
                                       [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="expressionUOMChange($event,ri,product)"
                                       [required]="true" #selectExpressionUOM="ngModel" 
                                       [forceSelection]="true" >
                                   </p-autoComplete>
                                   <ng-template [ngIf]="selectExpressionUOM.errors">
                                       <small id="username2-help" class="p-error block">you must select a unit of measurement</small>
                                   </ng-template>
                   
                               </div>
                           </ng-template>
                           <ng-template pTemplate="output">
                               {{product.uom.uom}}
                           </ng-template>
                       </p-cellEditor>
                   </td>
                   
                   <td style="text-align:center">
                       <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="onEUOMRowEditInit(product, ri)"></button>
                       <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-success mr-2" (click)="onEUOMRowEditSave(product,ri)"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onEUOMRowEditCancel(product, ri)"></button>
                   </td>
               </tr>
               <p-dialog [(visible)]="deleteUom" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span >Are you sure you want to delete <b></b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" class="w-auto mt-3" label="Yes" (click)="confirmDeleteUoms(product, ri)"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" class="w-auto mt-3 p-button-danger" label="No" (click)="deleteUom = false"></button>
                </ng-template>
            </p-dialog>
           </ng-template>
       </p-table>
   </div>

      <!-- End New Expression UOM -->

     <!-- Start Bill of Material or Product Recipe -->

     <div class="mr-2"><p-button styleClass="p-button-sm p-button-info p-button-raised" (click)="showNewRecipeDialog()" icon="pi pi-external-link" label="Bill of Material or Product Recipe"></p-button></div>
     <br>
     <br>
     <div class="card col-12" *ngIf="showFieldsBill">
         <p-table [value]="selectedConsumedUnits" [scrollable]="true"  
         selectionMode="single" scrollHeight="200px" 
          (onRowSelect)="onRowSelect($event)" dataKey="recordid" selectionMode="single" styleClass="p-datatable-sm">
             <ng-template pTemplate="header">
                 <tr>
                     <th>Item</th>
                     <th>Quantity</th>
                     <th>UOM</th>
                     <th>Modify</th>
                 </tr>
             </ng-template>
             <ng-template pTemplate="body" let-recipe let-i="rowIndex">
                 <tr>
                     
                     <td>{{recipe.consumeditem.itemname}}</td>
                     <td>{{recipe.quantity}}</td>
                     <td>{{recipe.uom.uom}}</td>
                     
                     <div >
                         <button pButton class="p-button-sm" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="handleRecipeEdit(recipe,i)"></button>
                         <button pButton class="p-button-sm" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="handleRecipeDelete(recipe,i)"></button>
                     </div>
                     
                 </tr>
                 <p-dialog [(visible)]="deleteRecipeItm" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                    <div class="flex align-items-center justify-content-center">
                        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                        <span >Are you sure you want to delete <b></b>?</span>
                    </div>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple icon="pi pi-check" class="p-button-text" class="w-auto mt-3" label="Yes" (click)="confirmDeleteRecipe(recipe,i)"></button>
                        <button pButton pRipple icon="pi pi-times" class="p-button-text" class="w-auto mt-3 p-button-danger" label="No" (click)="deleteRecipeItm = false"></button>
                    </ng-template>
                </p-dialog>
             </ng-template>
         </p-table>
     </div>

     <!-- <p-dialog header="New Material or Ingredient or Subassembly" [(visible)]="displayRecipeModal" [modal]="true" [style]="{width: '40vw',height:'30vw'}"
 [draggable]="false" [resizable]="false">
         
 <form #taxForm="ngForm" autocomplete="off" novalidate class="box"> -->
    <p-dialog [(visible)]="displayRecipeModal" [style]="{width: '450px'}" header="New Material or Ingredient or Subassembly" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">    
         
         <div>
             <div>Item</div>
             <p-autoComplete
             [(ngModel)]="selectedCItem"
             [suggestions]="filteredConsumedItems" 
             (completeMethod)="filterConsumedItems($event)"
             field="itemname" 
             [multiple]="false" class="autocomplete" 
             (onSelect)="handleOnSelectConsumedItem($event)"
             [style]="{'width':'100%'}"
             [inputStyle]="{'width':'100%'}" 
             placeholder="Select Ingredient" 
             [ngModelOptions]="{standalone: true}"
             (ngModelChange)="consumedItemChange($event)"
             [required]="true" #selectConsumedItem="ngModel" 
             [forceSelection]="true">

             <ng-template let-selectedItem pTemplate="item">
                 <div>{{selectedItem.itemname}} - {{selectedItem.id}}</div>
                 <div>{{selectedItem.uom.uom}}</div>
             </ng-template>

         </p-autoComplete>
         <ng-template [ngIf]="selectConsumedItem.errors">
             <small id="username2-help" class="p-error block">You must select an item</small>
         </ng-template>
 
         </div>

         <div>
            <div>UOM</div>
        <p-dropdown #selectUOM="ngModel" [options]="cus" [(ngModel)]="selectedCUOM" optionLabel="uom.uom" optionValue="uom" [ngModelOptions]="{standalone: true}" [required]="true"></p-dropdown>
   
        </div>
     
     <div>
         <div>Quantity</div>
         <input type="number" #selectQuantity="ngModel" pInputText class="p-inputtext-sm" placeholder="Quantity" [(ngModel)]="selectedCQty" [ngModelOptions]="{standalone: true}"  autocomplete="off" required>
         <ng-template [ngIf]="selectQuantity.errors">
             <small id="username2-help" class="p-error block">You must enter quantity</small>
         </ng-template>
     </div>
 
     

        </ng-template>
     
             


         <ng-template pTemplate="footer">
             <p-button icon="pi pi-check" (click)="addConsumedUnit()" label="Save" styleClass="p-button-text"></p-button>
         </ng-template>
     </p-dialog>


     <!-- <p-dialog header="Edit Material or Ingredient or Subassembly" [(visible)]="displayRecipeEditModal" [modal]="true" [style]="{width: '50vw',height:'30vw'}"
 [draggable]="false" [resizable]="false">
         
         <form #taxForm="ngForm" autocomplete="off" novalidate class="box">
             <div class="modifytax">
                  -->
                  <p-dialog [(visible)]="displayRecipeEditModal" [style]="{width: '450px'}" header="Edit Material or Ingredient or Subassembly" [modal]="true" class="p-fluid">
                    <ng-template pTemplate="content">    

                 <div>
                     <div>Item</div>
                     <p-autoComplete
                     [(ngModel)]="selectedCItem"
                     [suggestions]="filteredConsumedItems" 
                     (completeMethod)="filterConsumedItems($event)"
                     field="itemname" 
                     [multiple]="false" class="autocomplete" 
                     (onSelect)="handleOnSelectConsumedItem($event)"
                     [style]="{'width':'100%'}"
                     [inputStyle]="{'width':'100%'}" 
                     placeholder="Select Ingredient" 
                     [ngModelOptions]="{standalone: true}"
                     (ngModelChange)="consumedItemChange($event)"
                     [required]="true" #selectConsumedItem="ngModel" 
                     [forceSelection]="true">
 
                     <ng-template let-selectedItem pTemplate="item">
                         <div>{{selectedItem.itemname}} - {{selectedItem.id}}</div>
                         <div>{{selectedItem.uom.uom}}</div>
                     </ng-template>
 
                 </p-autoComplete>
                 <ng-template [ngIf]="selectConsumedItem.errors">
                     <small id="username2-help" class="p-error block">You must select an item</small>
                 </ng-template>
         
                 </div>

                 <div>
                    <div>UOM</div>
                <p-dropdown #selectUOM="ngModel" [options]="cus" [(ngModel)]="selectedCUOM" optionLabel="uom.uom" optionValue="uom" [ngModelOptions]="{standalone: true}" [required]="true"></p-dropdown>
   
                </div>

             <div>
                 <div>Quantity</div>
                 <input type="number" #selectQuantity="ngModel" pInputText class="p-inputtext-sm" placeholder="Quantity" [(ngModel)]="selectedCQty" [ngModelOptions]="{standalone: true}"  autocomplete="off" required>
                 <ng-template [ngIf]="selectQuantity.errors">
                     <small id="username2-help" class="p-error block">You must enter quantity</small>
                 </ng-template>
             </div>
         

                    </ng-template>
             

         <ng-template pTemplate="footer">
             <p-button icon="pi pi-check" (click)="handleUpdateRecipe(selectedRecipeItem,selectedCUIndex)" label="Edit" styleClass="p-button-text"></p-button>
         </ng-template>
     </p-dialog>



     <!-- End Bill of Material or Product Recipe -->


                <!-- <div class="col-12">
                    <button pButton pRipple (click)="handleSave()" label="Create Item" class="w-auto mt-3"></button>
                </div> -->
              
            </div>
         </div>


       </div>
       <div class="ui-g-12" style= " text-align:right">
        <span class="w-full sm:w-20rem flex-order-1 sm:flex-order-0"></span>
                <button style="margin-left: 10px;" pButton class="w-auto mt-3" icon="pi pi-check" (click)="handleSave()" label="Create"></button>
                <button style="margin-left: 10px;" pButton class="w-auto mt-3 p-button-danger" icon="pi pi-times" (click)="navigateToListItems()" label="Cancel"></button>

            </div>
</div>

<p-toast></p-toast>