<p-toast key="globaltst"></p-toast>
<p-dialog header="Write Cheque Detail" [(visible)]="displayWriteChequeDetailModal" [modal]="true" [style]="{width: '100%'}"
    [draggable]="false" [resizable]="false" (onHide)="hideDialog()">

    <form #f="ngForm" autocomplete="off" novalidate class="box">

        <div class="field">
            <div>Date</div> 
            <p-calendar 
            [(ngModel)]="selectedWriteChequeDate"
            [ngModelOptions]="{standalone: true}" 
            [showTime]="true" [showSeconds]="true" 
            inputId="time" 
            appendTo="body" (onSelect)="writeChequeDateSelected($event)" 
            [required]="true" #selectDate="ngModel">
            </p-calendar>
            <ng-template [ngIf]="selectDate.errors">
                <small id="username2-help" class="p-error block">you must select a date</small>
            </ng-template>
            
        </div> 

        <div>
            <div>cheque number</div>
            <input type="text" #selectNumber="ngModel" pInputText class="p-inputtext-sm" 
        placeholder="cheque number" [(ngModel)]="selectedWriteChequeNumber" 
        [ngModelOptions]="{standalone: true}"  autocomplete="off" 
        required>
        <ng-template [ngIf]="selectNumber.errors">
            <small id="username2-help" class="p-error block">you must enter cheque number</small>
        </ng-template>

        </div>

        <div>
            <div>Party</div>
            <p-autoComplete
                [(ngModel)]="selectedParty"
                [suggestions]="filteredParties" 
                (completeMethod)="filterParties($event)"
                field="accounthead" 
                [multiple]="false" class="autocomplete" 
                (onSelect)="handleOnSelectParty($event)"
                [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" 
                placeholder="select party" 
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="writeChequePartyChange($event)"
                [required]="true" #selectParty="ngModel" 
                [forceSelection]="true">

                <ng-template let-selectedParty pTemplate="item">
                    <div>{{selectedParty.accounthead}} - {{selectedParty.id}}</div>
                    <div>{{selectedParty.endpoint}}</div>
                </ng-template>

            </p-autoComplete>
            <ng-template [ngIf]="selectParty.errors">
                <small id="username2-help" class="p-error block">you must select a party</small>
            </ng-template>

        </div>
        
        <div>
            <div>Bank</div>
            <p-autoComplete
                [(ngModel)]="selectedWriteChequeBankParty"
                [suggestions]="filteredBankParties" 
                (completeMethod)="filterWriteChequeBankParties($event)"
                field="accounthead" 
                [multiple]="false" class="autocomplete" 
                (onSelect)="handleOnSelectWriteChequeBankParty($event)"
                [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" 
                placeholder="select bank" 
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="writeChequeBankPartyChange($event)"
                [required]="true" #selectBankParty="ngModel" 
                [forceSelection]="true">

                <ng-template let-selectedBankParty pTemplate="item">
                    <div>{{selectedBankParty.accounthead}} - {{selectedBankParty.id}}</div>
                    <div>{{selectedBankParty.endpoint}}</div>
                </ng-template>

            </p-autoComplete>
            <ng-template [ngIf]="selectBankParty.errors">
                <small id="username2-help" class="p-error block">you must select a bank</small>
            </ng-template>

        </div>

        <div>
            <div>amount</div>
            <input type="number" min="0" #selectVal="ngModel" pInputText class="p-inputtext-sm" 
        placeholder="enter amount" [(ngModel)]="selectedWriteChequeVal" 
        [ngModelOptions]="{standalone: true}"  autocomplete="off" 
        required>
        <ng-template [ngIf]="selectVal.errors">
            <small id="username2-help" class="p-error block">you must enter an amount</small>
        </ng-template>

        </div>


    </form>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="handleSaveWrittenCheque()" label="Save" styleClass="p-button-text"></p-button>
    </ng-template>


</p-dialog>
