<div class="w-full flex gap-1">
    <div class="flex-grow-1 flex-column gap-1">
        <input pInputText id="fname" placeholder="Enter company name" [(ngModel)]="companyName.name" (ngModelChange)="handleChange($event)" autocomplete="off" [disabled]="whetherDisabled"/>
        <span class="fluid">
            <p-autoComplete [(ngModel)]="selectedTags" [ngModelOptions]="{standalone: true}" placeholder="choose invoice options"
            [suggestions]="filteredTags" (completeMethod)="filterTags($event)" field="tag" [multiple]="true" [dropdown]="true" (ngModelChange)="handleChange($event)">
            </p-autoComplete>
        </span>
    </div>
    <div class="flex align-items-center">
        <button id="lbtn" (click)="handleDelete()" pButton class="p-button-sm menu-button w-max" [disabled]="whetherDisabled">Delete</button>
    </div>
</div>
