<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-toast key="tst"></p-toast>
            <p-table [value]="product" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" 
    selectionMode="single" scrollHeight="500px" 
         dataKey="person" selectionMode="single" [paginator]="true" responsiveLayout="scroll">
        
        <ng-template pTemplate="header"> 
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>uom</th>
                <th>Salable</th>
                <th>Advertise</th>
                <th>Modify</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inv let-i="rowIndex">
            <tr>
                
                <td>{{inv.id}}</td>
                <td>{{inv.itemdef.itemname}}</td>
                <td>{{inv.itemdef.uom.uom}}</td>
                <td>{{inv.inclinps}}</td>
                <td>{{inv.advertise}}</td>

                <td>
                    
                    <div>
                    <button pButton class="p-button-sm" >EDIT</button>
                    </div>
                </td>

            </tr>
        </ng-template>


        <!-- <ng-template [ngIf]="inProgress">
            <div class="flex justify-content-center align-items-center absolute z-5 h-full w-full top-0 left-0" id="modal">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-template> -->

    </p-table>

            
        </div>
    </div>
</div>

<div class="flex justify-content-center mb-2">
    <!-- <p-toggleButton [(ngModel)]="showForm" onLabel="Cancel" offLabel="New" (onChange)="handleNew($event)"></p-toggleButton> -->
</div>