<div class="card">
    <p-table #dt [value]="sanitizedInvoiceList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['date','vendor','taxablevalue','tax','aftertaxvalue']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
                <button (click)="navigateToCreatePurchaseReturn()" pButton class="p-button-raised p-button-primary" icon="pi pi-plus" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                
                <th pSortableColumn="date" class="white-space-nowrap" style="width:15%">Date <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="vendor" class="white-space-nowrap" style="width:15%">Vendor<p-sortIcon field="vendor"></p-sortIcon></th>
                <th pSortableColumn="taxablevalue" class="white-space-nowrap" style="width:15%">Taxablevalue<p-sortIcon field="taxablevalue"></p-sortIcon></th>
                <th pSortableColumn="tax" class="white-space-nowrap" style="width:15%">Tax<p-sortIcon field="tax"></p-sortIcon></th>
                <th pSortableColumn="aftertaxvalue" class="white-space-nowrap" style="width:15%">Value<p-sortIcon field="aftertaxvalue"></p-sortIcon></th>
                <th class="white-space-nowrap" style="width:20%">Modify</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-inv let-i="rowIndex">
            <tr>
                
                <td>{{inv.date}}</td>
                <td>{{inv.vendor}}</td>
                <td>{{inv.taxablevalue}}</td>
                <td>{{inv.tax }}</td>
                <td>{{inv.aftertaxvalue}}</td>
                <td>
                    <div class="grid">
                        <div class="col-12">
                            <button  pButton icon="pi pi-external-link" class="mr-2 p-button-success p-button-sm p-button-raised" (click)="handleView(inv.invoice)" label="View"></button>
                         </div>
                        </div>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>